input {
    width: 50%;
    padding: .5rem;
    margin-bottom: 1rem;
}
.green{
    border: 2px solid greenyellow;
}
.red{
    border: 2px solid tomato;
}
.focus{
    border: 4px solid rgb(87, 132, 20);
}
.blur {
    border: 2px solid tomato;
}
p {
    height: 30px;
    margin: -10px 0 10px 0;
    color: tomato;
}
span{
    position: absolute;
    margin-top: 0;
    margin-left: .5rem;
    
}
.first{
    margin-top: 2rem;
}
span input{
    height: 20px;
    width: 20px;
    margin-left: 5px;
    padding: 0;
    font-weight: bold;
}

