:root{
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: center;
    font-weight: bold;
}
body{
    color: rgb(220, 146, 10);
}

header{
    color: black;
    border:  1px solid grey;
    height: 5rem;
}
section{
    margin-top: 1.5rem;
    width: 60%;
    border:  1px solid grey;
    height: 36rem; 
}

header input{
    height: 2rem;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}
nav input{
    height: 2rem;
    width: 95%;
    color: rgb(43, 134, 239);
    background-color: #4797cd2f;
    border: 1px solid rgba(61, 185, 243, 0.633);
    margin-top: 0;

}
nav input::placeholder{
    color: rgb(43, 134, 239);
}

input{
    width: 95%;
    height: 2rem;
    border:  1px solid grey;
    margin: 1rem auto 1rem auto;
}

input::placeholder{
    text-align: center;
    font-weight: bold;
    color: black;
    padding: auto;

}
.headerSection{
    height: 2rem;
    width: 95%;
    margin: 0 auto .5rem auto;
    border: none;
}
.headerSection input{
    color: rgb(43, 134, 239);
    width: 100%;
    background-color: #4797cd2f;
    border: 1px solid rgba(61, 185, 243, 0.633);
    padding: 0;
}
.headerSection input::placeholder{
    color: rgb(43, 134, 239);
}
article{
    height: 13rem;
    width: 95%;
    border: 1px solid rgba(61, 185, 243, 0.633);
    margin: 0 auto 0 auto;
    background-color: #4797cd2f;
    
}
article > input::placeholder{
    color: rgb(43, 134, 239);
}
.article1{
    display: grid;
    height: 14.5rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .5rem;
    gap: .5rem; 
}
.article2{
    height: 13.2rem;
}
.article1 > input{
    width: 95%;
    height: 2rem;
    border: none;
    margin: 0 auto 0 auto;
    background-color: #4797cd00;
    grid-column-start: 1;
    grid-column-end: 3;
    color: rgb(43, 134, 239);
    }

.article2 > input{
    width: 95%;
    height: 2rem;
    border: none;
    margin: 0 auto 0.5rem auto;
    background-color: #4797cd00;
    color: rgb(43, 134, 239);
}
.article1 > header{
    grid-column-start: 1;
    grid-column-end: 3;
}
.article1 > p:first-of-type{
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.article1 > footer{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
}

article header{
    width: 95%;
    height: 2rem;
    border: none;
    margin: .2rem auto 0 auto;
    
}
.article2 p{
    margin: .5rem auto;
}

article header input{
    width: 100%;
    border:  1px solid grey;
    margin: -3px;
    background-color: rgba(0, 255, 174, 0.173);
}
footer input {
    background-color: rgba(0, 255, 174, 0.173);
    border: 1px solid rgba(54, 151, 133, 0.79);
}
p{
    margin: 0
}
p input{
    margin: 0;
    background-color: rgba(0, 255, 174, 0.173);
    border: 1px solid rgba(54, 151, 133, 0.79);
}
aside input{
    background-color: rgba(0, 255, 174, 0.173);
    border: 1px solid rgba(54, 151, 133, 0.79);
}

.footer input{
    color: rgb(43, 134, 239);
    width: 95%;
    background-color: #4797cd2f;
    border: 1px solid rgba(61, 185, 243, 0.633);
    padding: 0;
    margin-top: .5rem; 

}
.footer input::placeholder{
    color: rgb(43, 134, 239);
}

.footerBottom input{
    width: 100%;
    margin-top: .5rem;
    background-color: unset;
    border:  1px solid grey;
    margin-bottom: .2rem;
}
.section-right{
    position: absolute;
    width: 30%;
    
    margin-left: 60%;
}
.section-right input {
    width: 92%;
}
.headerSection2{
    height: 2rem;
    border: none;
    margin-bottom: .5rem;
}
.headerSection2 input{
    color: rgb(43, 134, 239);
    width: 92%;
    background-color: #4797cd2f;
    border: 1px solid rgba(61, 185, 243, 0.633);
    margin-bottom: .5rem;
    
}
.nav2{
    height: 30.5rem;
    color: rgb(43, 134, 239);
    width: 92%;
    background-color: #4797cd2f;
    border: 1px solid rgba(61, 185, 243, 0.633);
    margin: 0 auto;
}
.nav2 input{
    width: 100%;
    color: rgb(43, 134, 239);
    background-color: #4797cd00;
    border: none;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
.headerSection2 input::placeholder{
    color: rgb(43, 134, 239);
}