.black{
    background: black;
}
.silver{
    background: rgba(88, 88, 88, .5);
}
.red{
    background: rgba(262, 137, 84, 0.72);
}
.green{
    background: rgba(39, 211, 76, 0.5);
}
.container-stopwatch{
    margin-bottom: 5rem;
    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
}

.stopwatch-display{
    background: rgba(18, 76, 11, 0.8);
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.stopwatch-display span{
    font-size: 2rem;
}
.stopwatch-control button{
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor:	grab;
}

.stopwatch-control button:nth-child(2){
    margin: 0 .5rem;
}

.checkTel{
    margin-left: .5rem;    
}
.error{
    border: 2px solid rgba(231, 40, 40, 0.5);
}
