body{
  margin-top: 0;
}
main{
    display: flex;
    flex-wrap: wrap;
}
section{
    margin-bottom: 20px;
    width: 16%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 27rem;
    border: 1px solid rgba(16, 79, 124, 0.814);
    margin: 5px auto 10px auto;
    padding-left: 2.5%;
    padding-top: auto;
    padding-bottom: auto;
}
section:hover{
  border: 3px solid bisque;
  background-color: #111;
  color: antiquewhite;
}
#picture{
  padding-top: .5rem;
}
#picture img{
    width: 85%;
}
section input {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 0
}
h1{
    text-align: center;
    font-family: Verdana, sans-serif;
    margin-bottom: 5px;
}
.posts #block {
    margin: .4rem auto 0 auto;
}
#block{
    width: 40%;
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .7rem;
    font-family:Arial, sans-serif;
    background: rgba(55, 23, 143, 0.451);
    max-height: 14rem;
    height: 7rem;
}

a{
    text-decoration: none;
    color: black;
    font-weight:bold;
}
  
  .title {
    display: flex;
    justify-content: center;
  }
  
  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .post {
    padding: 8px;
    border-color: bisque;
    border: 1px;
    display: flex;
  }
  
  .pagination {
    display: flex;
    font-size: .9rem;
    margin: 0;
  }
  
  .pagination__list {
    display: flex;
    list-style-type: none;  
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0
  }
  
  .pagination__item {
    padding: 6px;
    margin-top: 6px;
    cursor: pointer;
    border: 1px solid gray;
    height: 13px;
    width: 13px;
    text-align: center;
  }
  
  .pagination__item--active {
    font-weight: 800;
    color: gold;
  }
  .pagination__item:hover{
    background-color: azure;
    color: rgb(111, 108, 102);
    font-weight: bold;
  }
  .box-loader{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #129fd342;
  }
 .show{
  display: flex;
 }
 .loader {
  position: relative;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  border: 8px solid #131a1d;
  overflow: hidden;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  position: absolute;
  left: 0;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #263238 ;
  z-index: 5;
  border-bottom: 8px solid #131a1d;
  box-sizing: border-box;
  animation: eyeShade 3s infinite;
}
.loader::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 15px;
  width: 32px;
  z-index: 2;
  height: 32px;
  background: #111;
  border-radius: 50%;
  animation: eyeMove 3s infinite;
}
@keyframes eyeShade {
  0%   { transform: translateY(0)}
  20%   { transform: translateY(5px)}
  40% , 50%   { transform: translateY(-5px)}
  60%   { transform: translateY( -8px)}
  75%   { transform: translateY( 5px)}
  100%   { transform: translateY(10px)}
}
@keyframes eyeMove {
  0%   { transform: translate(0 , 0)}
  20%   { transform: translate(0px , 5px)}
  40% , 50%   { transform: translate(0px , -5px)}
  60%   { transform: translate(-10px , -5px)}
  75%   { transform: translate(-20px , 5px)}
  100%   { transform: translate(0 , 10px)}
}